div.fuel_div {
    text-decoration: underline;
}

div.fuel_status_box {
    border: 1px solid #c3c4c7; 
    background-color: #ffffff; 
    padding: 8px 10px;
}

table.fuel {
    border: 1px solid #c3c4c7;
    background: #ffffff;
    width: 100%;
    border-spacing: 0px;
    table-layout: fixed;
}

tr.fuel_striped:nth-child(even) {
    background-color: #f6f7f7;
}

tr.fuel_striped > td {
    padding: 8px 10px;
}